body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-style: normal;
  font-weight: 400;
  background: #D9D5CC;
  color: #664;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  margin: 0;
}

p {
  line-height: 1.6em;
  margin-bottom: 0;
  margin-top: 0;
}


p.lead:first-of-type:first-line {
  font-size: 1.243em;
}

p.lead:first-of-type:first-letter {
  /*font-size: 1.243em;*/
  font-size: 1.618em;
}

p + p {
  text-indent: 2em;
}

.multicolumn > p, .page > p {
  text-align: justify;
}

.tschichold + .tschichold.noheader  p:first-of-type {
  text-indent: 2em;
}

/*
.vandegraaf + .vandegraaf.noheader p:first-of-type {
  text-indent: 2em;
}
*/