body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #E6E1DA;
  color: #664;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  margin: 0;
}

p {
  line-height: 1.618;
}

p.lead:first-of-type:first-line {
  font-size: 1.243em;
}

p.lead:first-of-type:first-letter {
  font-size: 1.243em;
}
