*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * General row container
 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Golden Section in horizontal/vertical orientation
 */
*[class*="golden-rect-"]:after {
  content: "";
  display: table;
  clear: both;
}


*[class*="golden-rect-"] *[class*="golden-col-"] {
  height: 100%;
}

.golden-col-a {
  float: left; 
  width: 62%;
  overflow: auto;
}

.golden-col-b {
  float: left;
  width: 38%;
  overflow: auto;
}

.golden-row-a {
  height: 62%;
  overflow: auto;
}

.golden-row-b {
  height: 38%;
  overflow: auto;
}

.vandegraaf {
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 8.25%;    /* will be adjusted */
  padding-bottom: 16.5%; /* will be adjusted */
}

.vandegraaf p:first-of-type {
  margin-top: 0;
}

.vandegraaf p:last-of-type {
  margin-bottom: 0;
}

.row > .vandegraaf {
  float: left;
  width: 50%;
  padding-right: 5.5%;
}

.row > .vandegraaf:last-of-type {
  float: left;
  width: 50%;
  padding-right: 11%;
  padding-left: 5.5%;
}


.tschichold {
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 8.25%;
  padding-bottom: 16.5%;
}

.row > .tschichold {
  float: left;
  width: 50%;
  padding-right: 5.5%;
}

.row > .tschichold:last-of-type {
  padding-left: 5.5%;
  padding-right: 11%;
}

.testrow {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;

}