*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * General row container
 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Golden Section in horizontal/vertical orientation
 */
*[class*="golden-rect-"]:after {
  content: "";
  display: table;
  clear: both;
}


*[class*="golden-rect-"] *[class*="golden-col-"] {
  height: 100%;
}

.golden-col-a {
  /*padding: 0;*/
  float: left; 
  width: 62%;
  overflow: auto;
}

.golden-col-b {
  /*padding: 0;*/
  float: left;
  width: 38%;
  overflow: auto;
}

.golden-row-a {
  /*padding: 0;*/
  height: 62%;
  overflow: auto;
}

.golden-row-b {
  /*padding: 0;*/
  height: 38%;
  overflow: auto;
}

.vandegraaf {
  padding-left: 11%;
  padding-right: 11%;
  /* top and bottom padding will be adjusted */
  padding-top: 11%;
  padding-bottom: 0;
}

.vandegraaf > p:first-of-type {
  margin-top: 0;
}

.vandegraaf > p:last-of-type {
  margin-bottom: 0;
}

.vandegraaf > .row > .column {
  float: left;
  width: 50%;
  padding-right: 5.5%;
}

.vandegraaf > .row > .column > p:first-of-type {
  margin-top: 0;
}

.vandegraaf > .row > .column:last-of-type {
  padding-left: 5.5%;
  padding-right: 0;
}
