/*
 *  phi.css
 *  TODO: confine this to elements of class "phi", not *
 *       so that it won't interfere with other CSS grids
 */

/*
 * General grid box sizing
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * General row container
 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Golden Section in horizontal/vertical orientation
 */
*[class*="golden-rect-"]:after {
  content: "";
  display: table;
  clear: both;
}

*[class*="golden-rect-"] *[class*="golden-col-"] {
  height: 100%;
}

.golden-col-a {
  float: left; 
  width: 62%;
  overflow: auto;
}

.golden-col-b {
  float: left;
  width: 38%;
  overflow: auto;
}

.golden-row-a {
  height: 62%;
  overflow: auto;
}

.golden-row-b {
  height: 38%;
  overflow: auto;
}

/*
 * The Van de Graaf Canon
 */
.vandegraaf {
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 8.25%;    /* will be adjusted */
  padding-bottom: 16.5%; /* will be adjusted */
}

.vandegraaf p:first-of-type {
  margin-top: 0;
}

.vandegraaf p:last-of-type {
  margin-bottom: 0;
}

/*
 * The Van de Graaf recto-verso layout
 */
.vandegraaf.multicolumn {
  /* column-gap is set programatically via JS */
  -moz-column-count: 2;
  -moz-column-gap: 11vw;
  -webkit-column-count: 2;
  -webkit-column-gap: 11vw;
  -webkit-column-fill: balance;
  column-count: 2;
  column-gap: 11vw;
}

 .row > .page {
  float: left;
  width: 50%;
  padding-right: 6.71%;
 }

 .row > .page:last-of-type {
  padding-left: 6.71%;
  padding-right: 0;
 }


/*
 * The Tschichold "Golden" Layout
 */
.tschichold {
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 8.25%;
  padding-bottom: 16.5%;
}

.tschichold p:first-of-type {
  /* condense with vandegraaf */
  margin-top: 0;
}

.tschichold p:last-of-type {
  /* condense with vandegraaf */
  margin-bottom: 0;
}

/*
.noheader p:first-of-type {
  margin-top: 1em !important;
}
*/

/*
 * The Tschichold recto-verso layout
 */
.tschichold.multicolumn {
  /* column-gap is set programatically via JS */
  -moz-column-count: 2;
  -moz-column-gap: 11vw;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-fill: balance;
  column-count: 2;
  column-gap: 20px;  
}

/*
 * The Neo-Tschichold Layout
 */
/* left and right margins combine to equal width/phi */
.neo-tschichold {
  padding-top: 14.3%;
  padding-right: 19.1%;
  padding-left: 19.1%;
  padding-bottom: 28.71%;
}

/*
 * The Golden Optical Center
 */
.optical-center {
  padding-left: 19%;
  padding-right: 19%;
  padding-top: 19%;
  padding-bottom: 23.5%;
}
